@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald&family=Roboto:ital,wght@0,500;1,500&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}
/* banner */
.banner {
    background: url('media/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    display: flex;
    justify-content: end;
}
.banner-text {
    width: 40%;
    text-align: right;
}
.banner h1 {
    font-size: 53px;
    font-weight: 800;
    margin-bottom: 24px;
}
p {
    font-size: 15px;
    color: #444;
    line-height: 23px;
}
.banner button {
    font-size: 18px;
    border: none;
    background: #e65824;
    color: white;
    padding: 16px 23px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 500;
    cursor: pointer;
}
.failures {
    padding: 0 200px;
    margin: 100px 0;
    display: flex;
    align-items: center;
}
.failures-text {
    padding: 0 65px;
}
.failures-text h2 {
    color: black;
    font-size: 36px;
    line-height: 42px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.failures-text ul {
    padding: 0;
}
.failures-text ul li {
    list-style: none;
    margin:12px 0;
}
.failures-text ul li i {
    margin-right: 8px;
    color: #16D887;
}
.failures-text p {
    margin: 20px 0 30px;
}


.plan {
    padding: 0 200px;
    margin: 80px 0;
}
.plan h3 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
}
.plan-info {
    display: flex;
}
.plan-item {
    width: 25%;
    text-align: center;
}
.plan-item h4 {
    font-size: 20px;
    margin-bottom: -5px;
}
.plan-item p {
    font-size: 18px;
    font-weight: 500;
}

.positive {
    padding: 0 200px;
}
.positive-item {
    background: url(media/watch.png);
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}
.positive-item h2 {
    color: white;
    font-size: 34px;
}
.gradient {
    padding: 60px;
    background-image: linear-gradient(131deg, #e65824, transparent);
    border-radius: 7px;
}
.gradient button {
    font-size: 18px;
    border: none;
    color: #e65824;
    background: white;
    padding:18px 29px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
}
.footer {
    background: black;
    padding: 70px 200px;
    display: flex;
}
.footer h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 16px;
}
.footer p {
    color: white;
    padding-right: 450px;
}
.subscribe{
    width: 30%;
    text-align: right;
}
.footer ul {
    padding: 0;
    margin-top: 30px;
}
.footer ul li {
    list-style: none;
    color: white;
    margin: 0 5px;
    display: inline-block;
}
.footer ul li i {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #e65824;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}
input {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    font-size: 17px;
}
::placeholder {
    color: white;
}
.submit {
    padding: 20px 30px;
    width: 150px !important;
    background-color: white;
    border: none;
    color: #e65824;
    font-size: 18px;
    letter-spacing: .8px;
    margin-top: 25px;
    font-weight: 600;
    cursor: pointer;
}